<div id="<%= dom_id brewery %>" class="card mb-4">
  <div class="card-body">
    <% cache @brewery do %>
    <h2 class="card-title">
      <%= brewery.name %>

      <% if not brewery.active  %>
        <span class="badge bg-secondary">retired</span>
      <% end %>
    </h2>
    
    <p class="text-muted mb-2">Established in <strong><%= brewery.year %></strong></p>
    
    <p>
      Beers count: <strong><%= brewery.beers.count %></strong>
    </p>
    
    <% if brewery.beers.any? %>
      <div class="table-responsive">
        <h6 class="fw-bold">Beers:</h6>
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Name</th>
              <th>Style</th>
              <th>Rating</th>
            </tr>
          </thead>
          <tbody>
            <% brewery.beers.each do |beer| %>
              <tr>
                <td><%= link_to beer.name, beer %></td>
                <td><%= beer.style.name %></td>
                <td><%= beer.average_rating %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
    
    <% if brewery.ratings.empty? %>
      <p class="text-warning">Brewery has not yet been rated!</p>
    <% else %>
      <p>Brewery has <strong><%= pluralize(brewery.ratings.count, 'rating') %></strong> with an average rating of <strong><%= brewery.average_rating %></strong></p>
    <% end %>

    <% end %>
  </div>
</div>
