<div id="<%= dom_id brewery %>">
  <h2>
    <%= brewery.name%>
  </h2>

  <p>
    <em>
      Established in: <%= brewery.year %>
    </em>
  </p>

  <p>Beers count: <%= @brewery.beers.count %></p>

  <p>
    <% brewery.beers.each do |beer| %>
      <%= link_to beer.name, beer %>
    <% end %>
  </p>

  <% if @brewery.ratings.any? %>
    <p>
      Brewery has <%= pluralize(@brewery.ratings.count, 'rating') %> with an average of <%= @brewery.average_rating.round(2) %>
    </p>
  <% else %>
    <p>This brewery has no ratings yet.</p>
  <% end %>

</div>
