<div id="<%= dom_id brewery %>" class="card mb-4">
  <div class="card-body">
    <h2 class="card-title">
      <%= brewery.name %>

      <% if not brewery.active  %>
        <span class="badge bg-secondary">retired</span>
      <% end %>
    </h2>
    
    <p class="text-muted mb-2">Established in <strong><%= brewery.year %></strong></p>
    
    <p>
      Beers count: <strong><%= brewery.beers.count %></strong>
    </p>
    
    <div class="mb-2">
      <% if brewery.beers.any? %>
        <h6 class="fw-bold">Beers:</h6>
        <% brewery.beers.each do |beer| %>
          <span class="badge bg-secondary me-1">
            <%= link_to beer.name, beer, class: "text-light text-decoration-none" %>
          </span>
        <% end %>
      <% end %>
    </div>
    
    <% if brewery.ratings.empty? %>
      <p class="text-warning">Brewery has not yet been rated!</p>
    <% else %>
      <p>Brewery has <strong><%= pluralize(brewery.ratings.count, 'rating') %></strong> with an average rating of <strong><%= brewery.average_rating %></strong></p>
    <% end %>
  </div>
</div>
